@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* APP */
body {
  background-color: #07000d;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: white;
  font-family: 'Rubik', sans-serif;
}

/* Container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #f9f9f9;
}

/* Title styling */
.title {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0 1rem;
  color: #f9f9f9;
}

/* Todo list styling */
.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Individual todo item styling */
.todo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.todo div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Todo title styling */
.todo p {
  margin: 0;
  font-size: 1.2rem;
  color: #f9f9f9;
}

/* Button styling */
.todo button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo button:hover {
  background-color: #0056b3;
}

/* Delete button styling */
.todo button:last-child {
  background-color: #dc3545;
}

.todo button:last-child:hover {
  background-color: #c82333;
}

/* Create todo form styling */
.create-todo {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.create-todo input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #555;
  border-radius: 4px;
  width: 300px;
  background-color: #2e2e2e;
  color: #f9f9f9;
}

.create-todo input:focus,
.create-todo input:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.create-todo button {
  padding: 0.5rem 1rem;
  background-color: rgba(113, 0, 212, 0.7);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-todo button:hover {
  background-color: rgba(95, 0, 179, 0.5);
}

/* Responsive adjustments */
@media (max-width: 420px) {
  .title {
    font-size: 2.5rem;
  }

  .create-todo {
    width: 95%;
  }

  .todo div {
    width: 95%;
    font-size: 1.2rem;
  }
}